<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1 maximum-scale=1 user-scalable=none">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
<!--    <link href="../style/comm.css" rel="stylesheet">
    <link href="../style/iconfont.css" rel="stylesheet">
    <link href="../style/jquery.fullPage.css" rel="stylesheet">
    <link href="../style/Introduction.css" rel="stylesheet">-->
<!--    <script src="../js/aboutCSSbundle.js"></script>-->
</head>
<body>
    <div class="Introduction-nav">
        <div class="Introduction-nav-lf">
     <!--       <div>
                <img src="">
            </div>-->
        </div>
        <div class="Introduction-nav-lr">
            <a href="javascript:;" id="work">Work</a>
            <a href="/blog">Blog</a>
        </div>
    </div>
    <div id="Introduction-container"  class="fullpage-wrapper">
        <div class="page-1 section">
            <div class="Introduction-head" id="Introduction-head">
                <img src="../image/header.jpg"/>
            </div>
            <div class="Introduction-mes">
                <strong id="Introduction-mes-text">我们的征途是星辰大海!</strong>
                <p id="an-name">孙志奇</p>
                <p id="an-year">25 岁</p>
                <p id="an-text">一名前端工程师(对于后面工程师三字还不够资格)</p>
            </div>

        </div>
        <div class="section page-2">
            <h3 class="section-title">ABOUT ME</h3>
            <div class="section-con">
                <div class="section-top">
                    <div class="section-block">
                        <div class="section-icon">
                            <i class="iconfont icon-xuelirenzheng"></i>
                        </div>
                        <div class="section-mes">学历<span></span>专科</div>
                    </div>
                    <div class="section-block">
                        <div class="section-icon">
                            <i class="iconfont icon-nianling1"></i>
                        </div>
                        <div class="section-mes">年龄<span></span>25</div>
                    </div>
                    <div class="section-block">
                        <div class="section-icon">
                            <i class="iconfont icon-zuobiao"></i>
                        </div>
                        <div class="section-mes">地点<span></span>杭州</div>
                    </div>
                    <div class="section-block">
                        <div class="section-icon">
                            <i class="iconfont icon-iconfontbianji"></i>
                        </div>
                        <div class="section-mes">状态<span></span>离职</div>
                    </div>
                </div>
                <div class="section-bottom">
                    <div class="section-bottom-block">
                        <p>2014年毕业于浙江工商职业技术学院。</p>
                        <p>只玩过 ReactJs，webpack,yeoman,node.js</p>
                        <p>自己去学习yeoman搭建自己的generator</p>
                        <p>感觉原生JS才是王道</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h3 class="section-title">Professional skills</h3>
            <div class="section-con">
                <ul class="skills-list">
                    <li>
                        <i class="iconfont icon-HTML"></i>
                        <p>Html</p>
                    </li>
                    <li>
                        <i class="iconfont icon-css"></i>
                        <p>Css</p>
                    </li>
                    <li>
                        <i class="iconfont icon-js"></i>
                        <p>Javascript</p>
                    </li>
                    <li>
                        <i class="iconfont icon-react"></i>
                        <p>React</p>
                    </li>
                    <li>
                        <i class="iconfont icon-nodejs"></i>
                        <p>Node</p>
                    </li>
                    <li>
                        <i class="iconfont icon-Fm8RVIQuNz"></i>
                        <p>Webpack</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section page-4">
            <h3 class="section-title">My Experience</h3>
            <p class="section-text">2015年开始前端生涯</p>
            <div class="section-banner-wrap">
                <ul class="section-banner-con">
                    <li class="section-banner-page">
                        <h4>宁波三木森网络科技发展有限公司</h4>
                        <p>2015年10月~2016年5月</p>
                        <ol>
                            <li>
                                前端技术部
                            </li>
                            <li>
                                主要从事与静态网页布局，添加动态特效。
                            </li>
                            <li>
                                pc端展示类网站，移动端网站，使用公司直接的后台系统嵌套完成的页面(php/框架thiphp)。
                            </li>
                            <li>
                                工作之余开始系统性的自学web前端各项技术
                            </li>
                        </ol>
                    </li>
                    <li  class="section-banner-page">
                        <h4>杭州卓然电子商务有限公司</h4>
                        <p>2016年5月~2016年11月</p>
                        <ol>
                            <li>
                                前端技术部
                            </li>
                            <li>
                                主要从事与静态网页布局，js或jQuery编写插件("在自己能力范围内")
                            </li>
                            <li>
                                后台提供接口，js编写业务逻辑,数据交互
                            </li>
                            <li>
                                工作之余开始系统性的自学web前端各项技术
                            </li>
                        </ol>
                    </li>
                    <li  class="section-banner-page">
                        <h4>an example</h4>
                        <p>2015年10月~2016年5月</p>
                        <ol>
                            <li>
                                前端技术部
                            </li>
                            <li>
                                主要从事与静态网页布局，添加动态特效。
                            </li>
                            <li>
                                pc端展示类网站，移动端网站，使用公司直接的后台系统嵌套完成的页面(php/框架thiphp)。
                            </li>
                            <li>
                                工作之余开始系统性的自学web前端各项技术
                            </li>
                        </ol>
                    </li>
                </ul>
                <div class="section-banner-prev">
                    <i class="iconfont icon-turnleft"></i>
                </div>
                <div class="section-banner-next">
                    <i class=" iconfont icon-turnright"></i>
                </div>
            </div>
            <ul class="section-banner-progress">
            </ul>
        </div>
        <div class="section page-5">
            <h3 class="section-title">My Works</h3>
            <div class="sections-work-con">
                <h2>敬请期待</h2>
            </div>
        </div>
    </div>
<script type="text/javascript" src="/assets/js/indexbundle.js"></script><script type="text/javascript" src="/assets/js/aboutbundle.js"></script></body>
<script src="../js/jquery.js"></script>
<!--<script src="/assets/vendor.js"></script>-->
<!--<script src="../js/jquery.fullPage.min.js"></script>-->
<script src="/assets/aboutbundle.js"></script>
<script>
    var work=document.getElementById("work");
    work.addEventListener("click",function(){
        alert("正在建设中！")
    })
</script>
</html>