
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1486019889845'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1486019889845#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1486019889845') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1486019889845') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1486019889845#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-map:before { content: "\e69d"; }

.icon-xuelirenzheng:before { content: "\e649"; }

.icon-zuobiao:before { content: "\e600"; }

.icon-iconfontbianji:before { content: "\e652"; }

.icon-xueli:before { content: "\e620"; }

.icon-nodejs:before { content: "\e655"; }

.icon-css:before { content: "\e743"; }

.icon-turnleft:before { content: "\e6bc"; }

.icon-turnright:before { content: "\e6bd"; }

.icon-nianling:before { content: "\e691"; }

.icon-js:before { content: "\e65d"; }

.icon-Fm8RVIQuNz:before { content: "\e635"; }

.icon-HTML:before { content: "\e6ac"; }

.icon-react:before { content: "\e770"; }

.icon-nianling1:before { content: "\e645"; }

